################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EventService/.vs/EventService/FileContentIndex/10301ce9-f7b3-4362-aae4-1a49798165b9.vsidx
