################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EventService/.vs/EventService/FileContentIndex/10301ce9-f7b3-4362-aae4-1a49798165b9.vsidx
/EventService/.vs/EventService/FileContentIndex/36f55680-be48-4ba1-9491-2c7f955e249d.vsidx
/EventService/.vs/EventService/FileContentIndex/50babc75-5984-4a6e-a9b9-f9649d2808cc.vsidx
/EventService/.vs/EventService/FileContentIndex/9cd2a27a-90e5-4668-9e97-dd7702a762f7.vsidx
/EventService/.vs/EventService/FileContentIndex/e228bc05-24cf-44fb-8963-77200660200f.vsidx
/EventService/.vs/EventService/FileContentIndex/fbd49a50-785b-40ff-96e3-de08816ef145.vsidx
/ServiceOrganization/.vs/ServiceOrganization/FileContentIndex/531ba178-e565-4445-b6ef-c92fc264e462.vsidx
/ServiceOrganization/.vs/ServiceOrganization/FileContentIndex/e3f77e47-823c-4f0f-9109-ba0ad7ba30a3.vsidx
/ServiceOrganization/.vs/ServiceOrganization/FileContentIndex/f45e818a-ff51-45dc-996e-6758423053ed.vsidx
/ServiceOrganization/.vs/ServiceOrganization/FileContentIndex/2f6a8e9a-98ca-47d5-844f-9c27ace1d760.vsidx
/EventService/.vs/EventService/FileContentIndex/0a086cea-5a2f-4cb7-92f4-0ef29c691c85.vsidx
/EventService/.vs/EventService/FileContentIndex/0b399852-6f15-44c1-905e-36b300a9f5eb.vsidx
/EventService/.vs/EventService/FileContentIndex/11268033-c283-4c0e-b493-72859b2ed702.vsidx
/EventService/.vs/EventService/FileContentIndex/633d7d5d-2d98-4d9a-8f77-cd7652b555e2.vsidx
/EventService/.vs/EventService/FileContentIndex/6ad3ba32-419d-4d81-9522-7684767d033f.vsidx
/EventService/.vs/EventService/FileContentIndex/6d7207ed-d347-4711-a75e-55e90a5cc603.vsidx
/EventService/.vs/EventService/FileContentIndex/d8ee80f6-a036-46c2-91f3-be1242c44d70.vsidx
