################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EventService/.vs/EventService/FileContentIndex/10301ce9-f7b3-4362-aae4-1a49798165b9.vsidx
/EventService/.vs/EventService/FileContentIndex/36f55680-be48-4ba1-9491-2c7f955e249d.vsidx
/EventService/.vs/EventService/FileContentIndex/50babc75-5984-4a6e-a9b9-f9649d2808cc.vsidx
/EventService/.vs/EventService/FileContentIndex/9cd2a27a-90e5-4668-9e97-dd7702a762f7.vsidx
/EventService/.vs/EventService/FileContentIndex/e228bc05-24cf-44fb-8963-77200660200f.vsidx
/EventService/.vs/EventService/FileContentIndex/fbd49a50-785b-40ff-96e3-de08816ef145.vsidx
/EventService/.vs/EventService/FileContentIndex/7a871646-1aca-47ea-b122-bfa3b51df910.vsidx
/EventService/.vs/EventService/FileContentIndex/dbc577a4-c3c2-4ef0-844f-f04b43a60c11.vsidx
